@import "tailwindcss";


@keyframes hammerUp {
        0%,
        40% {
          opacity: 1;
        }
        45%,
        95% {
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
      }
      @keyframes hammerDown {
        0%,
        40% {
          opacity: 0;
        }
        45%,
        95% {
          opacity: 1;
        }
        100% {
          opacity: 0;
        }
      }